#app {
    font-family: 'Montserrat',sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-success{
    background-color: #43B883;
}

.badge-success{
    background-color: #43B883;
}

.card-product{
    border-radius: 15px;
    overflow: hidden;
}

.breadcrumb{
    background-color: transparent;
}

.breadcrumb-item.active{
    color: #000;
    font-weight: bold;
}

.img-fluid{
    border-radius: 15px;
}